*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
ul, li{
  list-style: none;
}
img{
  border: none;
  vertical-align: top;
}

#layout{
  border: 1px solid #a3a2a3;
  margin: 20px auto;
  width: 1100px;
  background-color: #5e5e5e;
  color: #fff;
}



/* Cài đặt chung cho phần Menu */
#menu{
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 14 50px;
  height: 60px;
  align-items: center;
}
.mLeft{
  flex: 1;
}
.mLeft img{
  width: 26%;
  height: 100%;  
}
.mRight{
  flex: 2;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}
#menu ul li{
  display: inline-block;
  margin: 0 8px;
  background-color: #333;
}
.mRight ul.mType{
  background-color: #333;
  position: absolute;
  padding: 20px 0;
  width: 640px;
  text-align: left;
  display: none;
}
.subMenu {
  width: 150px;
  margin: 0 10px;
}
.mRight li:hover ul.mType{
  display: block;
}
.mRight a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.mRight a:hover {
  color: #8b87c6;
}
.search{
  height: 28px;
}

.TQ{
    border: 1px solid burlywoods;
    background-color: #FCDAD5;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      width: 100%; 
      margin-right: 30px;
      border-radius: 30px;
}
.T1{
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #C9E4D6;
    border-width: 10px;
    box-shadow: #ccc ;
    background-color: #E6E6FA;
    width: 21%;
    color: white;
    white-space: nowrap;
    text-align: 50% left;
}

.T2{
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #C9E4D6;
    border-width: 10px;
    box-shadow: #ccc ;
    background-color: #E6E6FA;
    width: 21%;
     white-space: nowrap;
     text-align: 50% left;
     color: white;

}
.T3{
    display: flex;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #C9E4D6 ;
    border-width: 10px;
    box-shadow: #ccc ;
    background-color: #E6E6FA;
    width: 21%;
    white-space: nowrap;
    text-align: 50% left;
    color: white;
    
}
.T4{
    display: flex;
    margin: 0 auto;
    background-color: #bebebe;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #C9E4D6;
    border-width: 10px;
    box-shadow: #ccc ;
    background-color: #E6E6FA;
    width: 21%;
    white-space: nowrap;
    text-align: 50% left;
    color: white;
}
.T1 button{
  border: #AFD788 ;
    background-color:#AFD788;
    color: black;
    padding: 4px;
}
.T2 button{
  border: #AFD788 ;
  background-color:#AFD788;
  color: black;
  padding:4px;
}
.T3 button{
  border: #AFD788 ;
  background-color:#AFD788;
  color: black;
  padding: 4px;
}
.T4 button{
  border: #AFD788 ;
  background-color: #AFD788;
  color: black;
  padding: 4px;
}
.container {
  margin: 0 auto;
  padding: 20px;
}
.checkout-form{

  float: left;
  border-radius: 30px;
  background-color: white;
  color: black;
  margin-left: 90px;
}

.order-details{ 
  border-radius: 30px;
  border: 1px ;
  width: 500px;
  margin-left: 480px;
  padding: 25px;
}
.checkout-form button{
  border: #AFD788 ;
  border-radius: 5%;
  background-color: #AFD788;
  color: black;
  padding: 5px;
}

.order-item button{
  border: #AFD788 ;
  background-color: #AFD788;
  color: black;
  padding: 5px;
}
h1 {
  
  text-align: center;
  margin-bottom: 20px;
}

.checkout-form {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #E6E6FA;
}

.form-group {
  margin-bottom: 15px;
  background-color: #E6E6FA;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

.order-details {
  border: 1px solid black;
  background-color: #E6E6FA;
  color: black;
}

.order-item {
  justify-content: space-between;
  
}

.product-name {
  font-weight: bold;
}

.product-quantity {
  margin-right: 20px;
}

.product-price {
  color: #009688;
}

.order-total {
  font-weight: bold;
}
.ck img{ 
  display: flex;
  justify-content: space-between;
  padding: 12 50px;
  height: 120px;
  width: 120px;
  margin-left: 145px;
}
.ck table{
  border: 1px ;
  height: 120px;
  border-radius: 30px;
  width: 120px;
  margin-left: 70px;
  margin-top: 40px;
  white-space: nowrap;
  float: left;
  background-color: #E6E6FA;
  text-align: center;
  padding: 10px;
}
.chitiet table{
  border: 1px ;
  height: 120px;
  border-radius: 30px;
  width: 120px;
  margin-left: 55%;
  margin-top: 40px;
  white-space: nowrap;
  background-color: #E6E6FA;
  text-align: center;
  padding: 45px;

}
.ck button{
  border: #AFD788 ;
  background-color: #AFD788;
  color: black;
  padding: 8px;
}

.chitiet{
  text-align: center;
}
/* Cài đặt chung cho phần Footer */
#footer {
  clear: both;
  width: 100%;
  background-color: #333;
  color: #fff;
  border-top: 1px solid #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.lFooter, .rFooter {
  display: inline-block;
  vertical-align: top;
}
.lFooter p img {
  height: 50px;
  width: 30%;
  margin: 12px;
}
.lFooter p {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
  margin-left: 40px;
}
.lFooter p:last-child {
  margin-bottom: 0;
}
.rFooter {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.rFooter1, .rFooter2, .rFooter3 {
  flex: 1;
  margin: 0 10px;
}
.rFooter1 li, .rFooter2 li, .rFooter3 li {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.rFooter1 a, .rFooter2 a, .rFooter3 a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.rFooter1 a:hover, .rFooter2 a:hover, .rFooter3 a:hover {
  color: #8b87c6;
}









